body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.questions {
	display: flex;
	width: 75%;
	flex-wrap: wrap;
	flex-direction: row;
}
.question-box {
	width: 50%;
	flex-basis: 50%;
	
}
